buiid/
# ESP-IDF build files
build/
sdkconfig
sdkconfig.old
dependencies.lock

# CMake build files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled files
*.o
*.obj
*.a
*.so
*.elf
*.bin
*.map